body{
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  font-family: 'Axiforma', sans-serif;
  width: 100vw;

}


div.menu {
  width: 350px;
  height: 100vh;
  background-color: #FAFAFA;
}

div.menu h1 {
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 88px;
}

div.menu h2 {
  margin-left: 24px;
  margin-bottom: 66px;
}

div.menu .participants {
  margin-left: 24px;
}

div.menu .participants .chatter {
  font-weight: 700;
  display: flex;
  margin-bottom: 24px;
}

div.menu .participants .chatter .chatter-name {
  margin-top: 6px;
}

div.menu .participants .chatter .random-color {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: aquamarine;
  margin-right: 13px;
}

.chat-window {
  height: 100vh;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  position: relative;
}

.App-header {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  padding: 16px 36px;
  box-sizing: border-box;
  background-color: #21978B;
  color: white;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /* justify-content: flex-end; */
  flex-direction: row;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: #141414;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  border-top-right-radius: 0px;
  background-color: #21978B;
  color: white;
  display: inline-block;
  padding: 15px 55px;
}

.currentMember > .Message-content .text {
  background-color: #F5F5F5;
  border-top-left-radius: 0px;
  border-top-right-radius: 12px;
  padding: 19px 38px;
  color: #141414;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
  position: absolute;
  bottom: 0;
  left: 360px;

}

input {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #E8E8E8;;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}

button {
  width: 36px;
  height: 36px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}



